<script src ="/javascript/main.js"></script>
<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<div id="current-time-container">
  <div>
    <button class="ui primary button" onclick="RecordCurrentTime()">Get the time</button>
  </div>
  <div>
    Time Zone: @Html.Partial("_TimeZone")
  </div>
  <div>
    <p id="current-time"></p>
  </div>
</div>
<div id="page-size-container">
  Page Size:
  <select id="page-size" onchange="GetPastTimes(true);" class="ui dropdown">
    <option value="10" selected>10</option>
    <option value="25">25</option>
    <option value="50">50</option>
  </select>
</div>
<p id="output"></p>
<input type="hidden" id="page-index" value="1" />
<input type="hidden" id="total-pages" />



