@media only screen and (max-width: 600px) {
    .page-button { 
        display: none !important;
    }
}

#top, #bottom  {
    background-color: black;
}

#top, #bottom {
    height: 40px;
    width: 100%;
}

#top {
    color: white !important;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#current-time-container {
    margin-top: 10px;
}

#current-time-container div {
    padding-right: 5px;
    padding-bottom: 10px;
    float: left;
}

#current-time {
    padding: 8px;
}

#page-size-container {
    clear: both;
}

#top select {
    font-size: 13px;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 55px;
}

#past-times-table {
    margin-top: 10px;
}

#bottom {
    position: fixed;
    bottom: 0;
}

#output {
    margin-top: 10px !important;
}