<select id="time-zones-large" class="ui dropdown">
	<option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" name="Eastern Standard Time" value="-5">Eastern Standard Time</option>
	<option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" name="Pacific Standard Time" value="-8">Pacific Standard Time</option>
</select>